#addPlanModal.modal.fade{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "ng-controller" => "planCreationController"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          %i.fa.fa-times
        %h4.modal-title
          Create a New Travel Plan
      .modal-body
        %form.form
          .form-group
            %input#plan_name.form-control{"type" => "text", "placeholder" => "Travel Name", "ng-model" => "plan_name"}
          .form-group.positioning-parent
            %input.form-control.plan-destination{"type" => "text", "placeholder" => "Destination"}
          .form-group
            %textarea#plan_note.form-control{"rows" => "5", "placeholder" => "Note", "ng-model" => "plan_note"}
      .modal-footer
        %button.btn.btn-primary{"type" => "button", "ng-click" => "submitPlan()"}
          {{ buttonMessage() }}
        %button.btn.btn-default{"type" => "button", "data-dismiss" => "modal"}
          Close
