.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %a.navbar-brand{"ui-sref" => 'plans', "eat-click" => ""}
      X-Planner
  %p.navbar-text.navbar-right{"ng-show" => "user != null"}
    %a.navbar-link{"href" => "#", "eat-click" => "", "ng-click" => "logoutUser()"}
      Logout
  %p.navbar-text.navbar-right{"ng-show" => "user != null"}
    Logged in as {{user.email}}
  %span{"ng-transclude" => ""}
