.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %a.navbar-brand{"ui-sref" => 'plans', "eat-click" => ""}
      X-Planner
  %p.navbar-text.navbar-right
    Signed in as Miniko
  %span{"ng-transclude" => ""}
