%script{"type" => "text/ng-template", "id" => "suggestion-list.html"}
  = render :partial => "templates/suggestionList"
%script{"type" => "text/ng-template", "id" => "suggestion-item.html"}
  = render :partial => "templates/suggestionItem"
%script{"type" => "text/ng-template", "id" => "xp-tag.html"}
  = render :partial => "templates/xpTag"
