= image_tag("layered-world-map.jpg", class: "background")
.enlist-section
  %button.btn.btn-warning{"type" => "button", "ng-click" => "notifyMe()"}
    Sign me up
.logo-text
  Journly
.logo-message
  Planning your travels is about to become easy and fun...
.logo-book.text-warning
  %i.fa.fa-book
