.xp-tag
  %h3
    %span.label.label-default
      %i.fa.fa-tag
      %span{"ng-transclude" => ""}
      %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "remove()"}  
        &times;
        
