#addItemModal.modal.fade{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "ng-controller" => "itemCreationController"}
  .modal-dialog.add-item-modal
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          %i.fa.fa-times
        %h4.modal-title
          Add new item to your plan
      .modal-body.row
        #item-entry.col-md-8
          %input#magic.form-control{"type" => "text", "placeholder" => "Magic Box", "ng-model" => "magicValue", "ng-change" => "magicInput()"}
          %hr
          %form.form
            .form-group
              %input#item_title.form-control{"type" => "text", "placeholder" => "Title", "ng-model" => "item_title"}
            .form-group
              %textarea#item_details.form-control{"rows" => "5", "placeholder" => "Details", "ng-model" => "item_details"}
          %xp-tag{"ng-repeat" => "tag in tags", "on-remove" => "removeTag(tag)"}
            {{ tag.name }}
          .clearfix
          .bookmark.input-group{"ng-repeat" => "bookmark in bookmarks"}
            %span.input-group-addon
              %i.fa.fa-fw.fa-bookmark
            %input.form-control{"type" => "text", "value" => "{{bookmark.name}}"}
            %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "removeBookmark(bookmark)"}
              %i.fa.fa-times
          .location.well.well-sm{"ng-repeat" => "location in locations"}
            %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "removeLocation(location)"}
              %i.fa.fa-times
            %h4
              {{location.name}}
            %ul.list-unstyled
              %li
                {{location.address}}
              %li
                {{location.phone_number}}
              %li
                %a{"href" => "{{location.url}}", "target" => "_blank"}
                  Website
          .yelp-info.well.well-sm{"ng-repeat" => "yelpInfo in yelpInfos"}
            %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "removeYelpInfo(yelpInfo)"}
              %i.fa.fa-times
            %h4
              {{yelpInfo.name}}
            %ul.list-unstyled
              %li
                Rating: {{yelpInfo.rating}} from {{yelpInfo.review_count}} reviews
              %li
                {{yelpInfo.phone}}
              %li
                %a{"href" => "{{yelpInfo.url}}", "target" => "_blank"}
                  Check it out on Yelp
          .clearfix
        #magic-actions.col-md-4
          .alert.alert-info.alert-dismissable{"ng-repeat" => "alert in alerts"}
            %button.close{"type" => "button", "data-dismiss" => "alert", "aria-hidden" => "true"}
              %i.fa.fa-times
            %strong
              Magic Box:
            {{ alert }}
          .list-group{"ng-show" => "suggestions.length == 0 && suggestionCount == 0"}
            .list-group-item
              %p
                %i.fa.fa-magic.fa-3x.pull-left.fa-border
                Magic Box makes saving information about your travels as easy as a pie... Here are a few things it can do for you:
                .clearfix
              %p
                %i.fa.fa-retweet.fa-3x.pull-left.fa-border
                Recommends you places and tags...
                %br
                %b
                  Try:
                Type anything in it (# for tags, @ for places)
                .clearfix
              %p
                %i.fa.fa-search-plus.fa-3x.pull-left.fa-border
                Saves the webpages you want to capture in your plans and searches them for important information.
                %br
                %b
                  Try:
                Pasting any link for magic try something from Yelp...
                .clearfix
          %suggestion-list
            .list-group-item{"ng-show" => "suggestionCount > 0"}
              %span
                %i.fa.fa-spinner.fa-spin
              {{processing_message}}
            %suggestion-item{"ng-repeat" => "suggestion in suggestions", "on-select" => "suggested(suggestion)"}
              {{ suggestion.message }}
      .modal-footer
        %button.btn.btn-primary{"type" => "button", "ng-click" => "submitItem()"}
          {{ buttonMessage() }}
        %button.btn.btn-default{"type" => "button", "data-dismiss" => "modal"}
          Close
