#addItemModal.modal.fade{"tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true", "ng-controller" => "itemCreationController"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          %i.fa.fa-times
        %h4.modal-title
          Add new item to your plan
      .modal-body.row
        #item-entry.col-md-8
          %input#magic.form-control{"type" => "text", "placeholder" => "Magic Box", "ng-model" => "magicValue", "ng-change" => "magicInput()"}
          %hr
          %form.form
            .form-group
              %input#item_title.form-control{"type" => "text", "placeholder" => "Title", "ng-model" => "item_title", "value" => "{{ item.title }}"}
            .form-group
              %textarea#item_details.form-control{"rows" => "5", "placeholder" => "Details", "ng-model" => "item_details"}
                {{ item.details }}
          %xp-tag{"ng-repeat" => "tag in tags", "on-remove" => "removeTag(tag)"}
            {{ tag }}
          .clearfix
          .bookmark.input-group{"ng-repeat" => "bookmark in bookmarks"}
            %span.input-group-addon
              %i.fa.fa-fw.fa-bookmark
            %input.form-control{"type" => "text", "value" => "{{bookmark}}"}
            %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "removeBookmark(bookmark)"}
              %i.fa.fa-times
          .location.well.well-sm{"ng-repeat" => "location in locations"}
            %button.close{"type" => "button", "aria-hidden" => "true", "ng-click" => "removeLocation(location)"}
              %i.fa.fa-times
            %h4
              {{location.name}}
            %ul.list-unstyled
              %li
                {{location.address}}
              %li
                {{location.phone_number}}
              %li
                %a{"href" => "{{location.url}}", "target" => "_blank"}
                  Website
        #magic-actions.col-md-4
          .alert.alert-info.alert-dismissable{"ng-repeat" => "alert in alerts"}
            %button.close{"type" => "button", "data-dismiss" => "alert", "aria-hidden" => "true"}
              %i.fa.fa-times
            %strong
              Magic Box:
            {{ alert }}
          %suggestion-list
            .list-group-item{"ng-show" => "suggestionCount > 0"}
              %span
                %i.fa.fa-spinner.fa-spin
              Asking for suggestions...
            %suggestion-item{"ng-repeat" => "suggestion in suggestions", "on-select" => "suggested(suggestion)"}
              {{ suggestion.message }}
      .modal-footer
        %button.btn.btn-default{"type" => "button", "data-dismiss" => "modal"}
          Close
        %button.btn.btn-primary{"type" => "button", "ng-click" => "submitItem()"}
          {{ buttonMessage() }}
