.modal-dialog {
    width: 75%;
}

.suggestion-item {
    cursor: pointer;
}

.xp-tag {
    float: left;
}

.label .close {
    float: none;
}

.bookmark .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.location, .yelp-info {
    float: left;
    width: 48%;
}

.map-canvas {
    height: 400px;
}

