.add-item-modal {
    width: 75%;
}

.suggestion-item {
    cursor: pointer;
}

.suggestion-text {
    width: 85%;
    margin-left: 10px;
}

.xp-tag {
    float: left;
}

.label .close {
    float: none;
}

.bookmark .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.location, .yelp-info {
    float: left;
    width: 48%;
}

body {
    padding-top: 51px;
}

.main-view {
    padding: 0 15px;
}

.list-canvas {
    padding: 0 1px;
    overflow-y: auto;
}

.map-canvas {
    height: 500px;
    padding: 0px;
}

.pi-tag {
    margin-right: 10px;
}

.highlighted {
    background-color: #FAFAFA;
}

.selected {
    background-color: #5bc0de;
}

.actions-menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

.plan-views {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.login-views {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.plan-view {
    width: 600px;
    margin: 20px;
    float: left;
    cursor: pointer;
}

.plan-map {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.plan-summary {
    margin-left: 10px;
}

.item-creation-form {
    max-height: 500px;
    overflow-y: auto;
}

.location-summary {
    width: 230px;
}

.tab-pane {
    padding-top: 20px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.btn-center {
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.enlist-section {
    position: absolute;
    top: 45%;
    left: 40%;
}

.logo-text {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 8em;
    color: #fff;
}

.logo-message {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 2em;
    color: #fff;
}

.logo-book {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    font-size: 20em;
    opacity: 0.75;
}