.navbar.navbar-default.navbar-fixed-top{"ng-controller" => "headerController"}
  .navbar-header
    %a.navbar-brand{"href" => "#", "eat-click" => ""}
      X-Planner
  %p.navbar-text.navbar-right
    Signed in as Miniko
  %button.btn.btn-info.navbar-btn.navbar-right{"type" => "button", "ng-click" => "launchItemCreate()"}
    Add Plan Item
  %form.navbar-form.navbar-right{"role" => "search"}
    .form-group
      %input.form-control{"type" => "text", "placeholder" => "Filter"}
.main-view
  .row{"ng-controller" => "itemListController"}
    .col-md-3.list-canvas
      .list-group
        .list-group-item{"ng-repeat" => "item in items", "ng-mouseover" => "highlightItem(item)", "ng-mouseout" => "unhighlightItem(item)", "ng-class" => "{highlighted:item.highlighted}", "ng-cloak" => ""}
          .actions-menu{"ng-show" => "item.highlighted"}
            .btn-group
              %a.btn.btn-default{"href" => "#", "eat-click" => "", "ng-click" => "editItem(item)"}
                %i.fa.fa-edit.fa-lg
              %a.btn.btn-default{"href" => "#", "eat-click" => "", "ng-click" => "deleteItem(item)"}
                %i.fa.fa-trash-o.fa-lg

          %ul.list-unstyled
            %li
              %b
                {{item.title}}
            %li
              {{item.details}}
            %li{"ng-show" => "item.tags.length > 0"}
              %span.pi-tag.label.label-default.pull-left{"ng-repeat" => "tag in item.tags"}
                {{tag.name}}
              .clearfix
            %li{"ng-show" => "item.yelpInfos.length > 0"}
              .yelp-info-summary{"ng-repeat" => "yelp_info in yelpInfo(item)"}
                .yelp-logo.pull-left
                  %img{"src" => "/assets/yelp-logo.jpg", "width" => "50", "height" => "30"}
                .yelp-summary.pull-left
                  %b
                    {{yelp_info.name}}
                  %br
                  %img{"ng-src" => "{{yelp_info.rating_img_url}}"}
                  {{yelp_info.review_count}} Reviews
                  %br
                  %a{"href" => "{{yelp_info.url}}", "target" => "_blank"}
                    More info on Yelp
                .clearfix
            %li{"ng-show" => "item.bookmarks.length > 0"}
              .bookmark-summary{"ng-repeat" => "bookmark in bookmarks(item)"}
                %a{"href" => "{{bookmark.name}}", "target" => "_blank"}
                  More info on {{hostname(bookmark.name)}}
    .col-md-9
      %gm-map.map-canvas{"gm-map-id" => "'myMap'"}
        %gm-markers{"ng-repeat" => "item in items", "gm-objects" => "item.locations", "gm-get-lat-lng" => "{ lat: object.geometry.lat, lng: object.geometry.lng }", "gm-on-click" => "markerClicked(object, marker)"}

= render :partial => "items/creation_modal"
