.list-group{"ng-controller" => "itemListController"}
  .list-group-item{"ng-repeat" => "item in items"}
    %b
      {{item.title}}
    %p
      {{item.details}}
    %p
      Tags:
      %b{"ng-repeat" => "tag in item.tags"}
        {{tag.name}},
    %a{"href" => "#", "eat-click" => "", "ng-click" => "deleteItem(item)"}
      Delete
    %a{"href" => "#", "eat-click" => "", "ng-click" => "editItem(item)"}
      Edit
  %a.list-group-item.active{"href" => "#", "ng-click" => "launchItemCreate()", "eat-click" => ""}
    Add to the plan
= render :partial => "items/creation_modal"
