.navbar.navbar-default.navbar-fixed-top{"ng-controller" => "headerController"}
  .navbar-header
    %a.navbar-brand{"href" => "#", "eat-click" => ""}
      X-Planner
  %p.navbar-text.navbar-right
    Signed in as Miniko
  %button.btn.btn-info.navbar-btn.navbar-right{"type" => "button", "ng-click" => "launchItemCreate()"}
    Add Plan Item
  %form.navbar-form.navbar-right{"role" => "search"}
    .form-group
      %input.form-control.filter-search{"type" => "text", "placeholder" => "Filter by Tag"}
.main-view
  .row{"ng-controller" => "itemListController"}
    .col-md-3.list-canvas
      .list-group
        .list-group-item{"ng-show" => "filterTerm != ''"}
          Filtering {{items.length}} items with tag: {{filterTerm}}
        .list-group-item{"ng-repeat" => "item in items | filter:filterByTag", "ng-mouseenter" => "highlightItem(item)", "ng-mouseleave" => "unhighlightItem(item)", "ng-click" => "selectItem(item)", "ng-class" => "{highlighted:item.highlighted || item.selected, selected:item.selected}", "ng-cloak" => "", "on-finish-render" => "initTooltips()"}
          .actions-menu{"ng-show" => "item.highlighted || item.selected"}
            .btn-group
              %a.btn.btn-default.item-action{"href" => "#", "eat-click" => "", "ng-click" => "editItem($event, item)", "ng-show" => "item.locations.length == 0", "data-toggle" => "tooltip", "data-placement" => "top", "data-original-title" => "No location... Add one..."}
                %i.fa.fa-location-arrow.text-danger.fa-lg
              %a.btn.btn-default.item-action{"href" => "#", "eat-click" => "", "ng-click" => "editItem($event, item)", "data-toggle" => "tooltip", "data-placement" => "top", "data-original-title" => "Edit Item"}
                %i.fa.fa-edit.fa-lg
              %a.btn.btn-default.item-action{"href" => "#", "eat-click" => "", "ng-click" => "deleteItem($event, item)", "data-toggle" => "tooltip", "data-placement" => "top", "data-original-title" => "Delete Item"}
                %i.fa.fa-trash-o.fa-lg
          %ul.list-unstyled
            %li
              %b
                {{item.title}}
            %li
              {{item.details}}
            %li{"ng-show" => "item.tags.length > 0"}
              %span.pi-tag.label.label-default.pull-left{"ng-repeat" => "tag in item.tags"}
                {{tag.name}}
              .clearfix
            %li{"ng-show" => "item.yelpInfos.length > 0"}
              .yelp-info-summary{"ng-repeat" => "yelp_info in item.yelpInfos"}
                .yelp-logo.pull-left
                  %img{"src" => "/assets/yelp-logo.png", "width" => "50", "height" => "30"}
                .yelp-summary.pull-left
                  %b
                    {{yelp_info.name}}
                  %br
                  %img{"ng-src" => "{{yelp_info.rating_img_url}}"}
                  {{yelp_info.review_count}} Reviews
                  %br
                  %a{"href" => "{{yelp_info.url}}", "target" => "_blank"}
                    More info on Yelp
                .clearfix
            %li{"ng-show" => "item.bookmarks.length > 0"}
              .bookmark-summary{"ng-repeat" => "bookmark in item.bookmarks"}
                %a{"href" => "{{bookmark.name}}", "target" => "_blank"}
                  More info on {{hostname(bookmark.name)}}
    .col-md-9
      %gm-map.map-canvas{"gm-map-id" => "mapId", "gm-center" => "mapCenter", "gm-zoom" => "mapZoomLevel"}
        .item-map-elements{"ng-repeat" => "item in items | filter:filterByTag"}
          %gm-markers{"gm-objects" => "item.locations", "gm-get-lat-lng" => "{ lat: object.geometry.lat, lng: object.geometry.lng }", "gm-on-mouseover" => "markerHighlight(object.item_id)", "gm-on-mouseout" => "markerUnhighlight(object.item_id)", "gm-on-click" => "markerEvent('select', object.item_id)"}
          .location-info-window{"ng-repeat" => "location in item.locations", "gm-info-window" => "location.$infoWindow", "gm-on-closeclick" => "markerEvent('select', location.item_id)", "gm-on-domready" => "setupInfoWindowEvents(location.item_id)"}
            %ul.list-unstyled
              %li
                %h4
                  {{location.name}}
              %li
                {{location.address}}
              %li
                {{location.phone_number}}
              %li
                %a{"href" => "{{location.url}}", "target" => "_blank"}
                  Website

= render :partial => "items/creation_modal"
